<ul class="sidebar-navigation">
    <li class="header">External Links</li>
    
    <li>
        <a target="_blank" href="https://us-east-1.quicksight.aws.amazon.com/sn/dashboards/ccbd9766-18e1-40c1-afc4-fe4103111b21/sheets/ccbd9766-18e1-40c1-afc4-fe4103111b21_f12bff63-5bdd-4cb5-adba-fee9c06e74f8">
            <i class="fas fa-chart-area"></i></i> Quicksight Dashboard
        </a>
    </li>
    <li>
        <a target="_blank" href="https://utilities.utexas.edu/">
            <i class="far fa-window-maximize"></i> UEM Website
        </a>
    </li>
    <li>
        <a target="_blank" href="http://ops-delawareweb.austin.utexas.edu/TrefoilEnergy/">
            <i class="fas fa-leaf"></i> Trefoil
        </a>
    </li>
     <li class="header">Navigation</li>
    <li class="logout">
        <a href="/logout">
            <i class="fas fa-power-off"></i></i> Logout
        </a>
    </li>
</ul>